<html>
<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<body>
<script type="text/javascript">
  google.load("language", "1");
  google.language.transliterate(["Namaste"], "en", "hi", function(result) {
  	alert(result);
  });	
</script>
</body>
</html>
